---

import Layout from "../layouts/Layout.astro";
import Product from "../components/Product.astro";
import {data_url} from "../firebase/client";

const data = await fetch(data_url.toString()).then((response) =>
    response.json()
);

const environment = import.meta.env.HANSKIN_BASE;

---
{data && data.length > 0 &&
    <Layout title="Hanskin" type="hanskin" image="https://firebasestorage.googleapis.com/v0/b/dragoninnovation-ea771.appspot.com/o/products%2Fhanskin%2FHanskin.jpg?alt=media&token=5f3a42b1-82a9-4c6c-9791-6819381b10d2"
    description="Hanskin has been around for 20 years and has won many awards and a trusted brand in Korea.">
        <section class="wrapper bg-white">
            <div class="container py-3 py-md-5">
                <nav class="d-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Hanskin</li>
                    </ol>
                </nav>
                <!-- /nav -->
            </div>
            <!-- /.container -->
        </section>

        <section class="wrapper bg-light">
            <div class="container py-14 py-md-16">
                <!--/.row -->
                <h2 class="display-6">Hyaluron</h2>
                <div class="grid grid-view projects-masonry shop mb-13">
                    <div class="row gx-4 gx-md-6 gy-6 isotope">

                        {data.map(product => {
                            if(product.group ==='hyaluron') return  <Product data={product} path={environment}/>
                        })}

                    </div>
                    <!-- /.row -->
                </div>


                <h2 class="display-6">Collagen Peptide</h2>
                <div class="grid grid-view projects-masonry shop mb-13">
                    <div class="row gx-4 gx-md-6 gy-6 isotope">

                        {data.map(product => {
                            if(product.group ==='collagen') return  <Product data={product} path={environment}/>
                        })}

                    </div>
                    <!-- /.row -->
                </div>

                <h2 class="display-6">Cleansing</h2>
                <div class="grid grid-view projects-masonry shop mb-13">
                    <div class="row gx-4 gx-md-6 gy-6 isotope">

                        {data.map(product => {
                            if(product.group ==='cleansing') return  <Product data={product} path={environment}/>
                        })}

                    </div>
                    <!-- /.row -->
                </div>

                <h2 class="display-6">Base Makeup</h2>
                <div class="grid grid-view projects-masonry shop mb-13">
                    <div class="row gx-4 gx-md-6 gy-6 isotope">

                        {data.map(product => {
                            if(product.group ==='makeup') return  <Product data={product} path={environment}/>
                        })}

                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.container -->
        </section>
    </Layout>
    }

