---
export interface RetailerModel{
    id: string
    name: string
    addresses: Address[]
    img: string
    fb_link: string
}
export interface Address{

    address: string
    city: string
    state: string
    phone: string

}
export interface Props{
    data: RetailerModel,
    path: string
}

const {data} = Astro.props;
---
<div class="col-md-6 col-xl-4 d-flex">
    <div class="card shop-card shadow-lg lift w-100 h-100">
        <div class="card-body p-5 p-md-6 d-flex flex-column text-start">
            <h3 class="fs-19 mb-4">{data.name}</h3>
            {
                data.addresses.map(address => {
                    return <div class="d-flex flex-row mb-4">
                        <div><div class="icon text-primary fs-22 me-3"><i class={`uil ${address.address ? 'uil-map-marker' : 'uil-phone'}`}></i></div></div>
                        <div>
                            {address.address && <p class="mb-1">{address.address}</p>}
                            {address.phone && <p class="mb-0 text-body">{address.address && <i class="uil uil-phone me-1"></i>}{address.phone}</p>}
                        </div>
                    </div>
                })
            }
            {
                data.fb_link !== '' &&
                    <div class="mt-auto pt-2">
                        <a href={data.fb_link} class="more hover" target="_blank" rel="noopener">Facebook Page</a>
                    </div>
            }
        </div>
        <!--/.card-body -->
    </div>
    <!--/.card -->
</div>

<style>
    .shop-card {
        border-radius: 0.8rem;
    }
</style>
