---
import Layout from "../../layouts/Layout.astro";
import ProductDetails from "../../components/ProductDetails.astro";
import {data_url} from "../../firebase/client";
export function getStaticPaths() {
    return [
        {params: {id: 'HairVitamin'}},
        {params: {id: 'SleepVitamin'}}
    ];
}
const { id } = Astro.params;

const data = await fetch(data_url.toString()).then((response) =>
    response.json()
);

const environment = import.meta.env.SUGARBEAR_BASE;
const product = data.find(d => d.id === id);
---

<Layout title="Sugarbear" type="sugarbear" image={product.publicImg} description={product.shortDescription}>
    <section class="wrapper bg-light">
        <div class="container py-3 py-md-5">
            <nav class="d-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/sugarbear">Sugarbear</a></li>
                    <li class="breadcrumb-item active text-muted" aria-current="page">{product.productName}</li>
                </ol>
            </nav>
            <!-- /nav -->
        </div>
        <!-- /.container -->
    </section>

    <ProductDetails data={product} path={environment}/>
</Layout>

